.page-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background: var(--white-color);
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
}
.header-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: var(--white-color);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1000;
  border-bottom: 1px solid #eaeaec;

  .logo-wrapper,
  .header-user-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header-links {
    ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-content: center;
      gap: 10px;
      li {
        height: 50px;
        width: 100%;
        padding: 0 12px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #4a4a59;
        text-align: center;
        &:hover {
          background: #f2f3f7 !important	;
        }
        a {
          svg {
            width: 32px;
            height: 32px;
          }
          span {
            display: block;
            font-size: 13px;
            letter-spacing: 0.0925em;
            text-transform: uppercase;
            color: #4a4a59;
          }
        }
      }
    }
  }

  .header-user-wrapper {
    padding-left: 20px;
    border-left: 2px solid hsla(0, 0%, 62.4%, 0.15) !important;
  }
}
.ant-dropdown {
  width: 100%;
  padding: 0;
  max-width: 360px;
  .ant-dropdown-menu {
    padding: 0;

    .ant-dropdown-menu-item {
      padding: 0;
      &:hover {
        background: transparent;
      }
    }

    .head-profile {
      width: 100%;
      padding: 12px 15px;
      border-bottom: 1px solid #eaeaec;
      h5 {
        margin: 0;
        font-size: 17px;
        color: #212121 !important;
        font-weight: 600;
        line-height: 23px;
        overflow-wrap: break-word;
      }
      a {
        font-size: 13px;
        color: var(--primary-color);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.025em;
        margin-top: 2px;
      }
    }
    .flex-wrap {
      margin: 0;
      padding: 0;
      margin: 12px 0;
      padding: 0 7.5px;

      li {
        list-style: none;
        background-color: var(--white-color);
        transition: background-color 0.3s ease;
        list-style: none;
        border-radius: 6px;
        padding: 7.5px 15px 7.5px 7.5px;

        &:hover {
          background: #f0f2f5;
        }

        .circle-icon {
          background-color: rgb(228, 230, 234);
          width: 34px;
          height: 34px;
          border-radius: 50%;
          position: relative;
          margin-right: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.marks-as-complete-card,
.complete-today-task-card {
  .ant-card {
    padding: 16px;
    background-color: #f8f9fc;
    border-radius: 6px;
    width: -webkit-max-content;
    width: max-content;
    border: 0;
  }
  .ant-tag {
    span {
      font-size: 12px;
    }
  }
}

.marks-as-complete-card {
  .ant-card {
    .ant-card-extra {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
    .content {
      width: calc(100% - 35px);

      h5 {
        font-size: 14px;
        font-weight: 600;
        margin: 0px 0px 10px;
      }
      .site-btn.secondary-btn.small-btn span {
        .ant-tag {
          line-height: 14px;
          font-size: 11px;
        }
      }
    }
  }
  &.upcoming-cards-wrapper {
    .ant-card {
      h5 {
        margin: 5px 0px 15px 0;
      }
    }
  }
}
.complete-today-task-card {
  .strike-check-box {
    .ant-checkbox-wrapper {
      & > span:first-child {
        align-self: flex-start;
        margin-top: 3px;
      }
      & > span:last-child {
        line-height: normal;
        vertical-align: baseline;
      }
    }
  }
}

.site-btn {
  height: 36px !important;
  border-radius: 4px !important;
  padding: 0 15px !important;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 14px;
    font-weight: 600;
  }

  &.completed-btn {
    height: 36px !important;
    background: rgb(135, 208, 104);
    color: var(--white-color);
    text-transform: uppercase;
    &:hover {
      background: rgb(135, 208, 104);
      color: var(--white-color);
    }
    &.small-btn {
      padding: 0px 10px !important;
      height: 32px !important;

      span {
        font-size: 12px;
        line-height: 12px;
      }
    }
  }

  &.secondary-btn {
    height: 36px !important;
    background-color: #e4e6eb !important;

    span {
      color: #424242;
    }
    svg {
      width: 20px;
      height: 20px;
    }
    &.small-btn {
      padding: 0px 10px !important;
      height: 32px !important;

      span {
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
  &.sdark-btn {
    background-color: #0f2137 !important;

    span {
      color: var(--white-color) !important;
    }
  }
  &.into-btn {
    width: 35px !important;
    height: 35px !important;
    color: #65676b;
    background: #f5f8fa;
    padding: 0 !important;

    &:hover {
      background: #f5f8fa !important;
    }

    & > span {
      padding: 0;
      margin: 0;
      line-height: 1;
      flex-shrink: 0;
    }

    svg {
      width: 18px !important;
      height: 18px !important;
    }
  }
}
.count-card {
  .card {
    span {
      font-weight: 400;
      font-size: 24px;
      line-height: 1.5715;
      color: var(--primary-color);
      margin-bottom: 0;

      .small-txt {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.45);
      }
    }
    .over-icon {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}
.loader-main {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
}
