.creator-dashboard-page :global {
  .creator-dashboard-table {
    .heading-wrapper {
      padding: 0 16px;
    }
    h4 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 18px;
    }
  }
  .avatar-name {
    h5 {
      font-weight: 500;
      font-size: 13px;
      margin: 0;
    }
  }
}

.creator-event :global {
  .upcoming-events-list {
    .list-item {
      margin-bottom: 8px;
      padding-bottom: 20px;
    }
    .date-label {
      width: 100%;
      padding: 8px;
      border-radius: 6px;
      border: 1px solid #e4e6eb;
      background: #fafafa;
      display: block;
      margin-bottom: 15px;
    }
    .event-details-wrapper {
      padding: 15px;
      border: 1px solid #ced0d4;
      border-radius: 6px;
      background: #fff;

      .date-time-count {
        h4 {
          font-size: 16px;
          font-weight: 500;
          color: #050505;
          margin-bottom: 6px;
        }
        h5 {
          margin: 0;
          display: block;
          font-size: 14px;
          color: rgba(0, 7, 19, 0.6235294118);
          font-weight: 600;
          margin: 0 0 6px;
        }
      }

      .event-details {
        .img-box {
          position: relative;
          width: 130px;
          height: 80px;
          border-radius: 6px;
          overflow: hidden;
          img {
            object-fit: cover;
          }
        }

        .content-wrap {
          width: calc(100% - 130px);
        }
        h5 {
          font-size: 16px;
          font-weight: 500;
          color: #050505;
          margin-bottom: 6px;
        }
      }
    }
  }
  .previous-wrapper {
    padding: 4px 15px 0 15px;
  }
}
.creator-task-form :global {
  .form-group {
    width: 100%;
  }
  .switch-box {
    width: 100%;
  }
  .schedule-wrapper {
    .form-group {
      margin-bottom: 0;
    }
  }
  .header-img-box {
    max-height: 150px;
    min-height: 150px;
  }
  .about-event {
    border-top: 1px solid #ced0d4;
    margin-top: 15px;
    padding-top: 15px;
  }
}
.creator-task-details-form :global {
  .ant-tag {
    text-transform: uppercase;
  }
  .pending-tag {
    color: #050505 !important;
  }
}

.creator-quizzes-page :global {
  .creator-quiz-card-wrapper {
    .content-wrapper {
      .card-heading {
        h4 {
          font-size: 16px;
          margin-bottom: 10px;
        }
        .questions-count {
          & > span {
            &:first-child {
              padding-right: 15px;
              border-right: 1px solid #e4e6eb;
            }
            &:last-child {
              padding-left: 15px;
            }
          }
        }
      }
      .action-btn {
        .ant-tag {
          display: flex;
          color: #0958d9 !important;
          align-items: center;
        }
      }
    }
  }
}
