.creator-dashboard-page :global {
  .creator-dashboard-table {
    .heading-wrapper {
      padding: 0 16px;
    }
    h4 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 18px;
    }
  }
  .avatar-name {
    h5 {
      font-weight: 500;
      font-size: 13px;
      margin: 0;
    }
  }
}

.creator-event :global {
  .upcoming-events-list {
    .list-item {
      margin-bottom: 8px;
      padding-bottom: 20px;
    }
    .date-label {
      width: 100%;
      padding: 8px;
      border-radius: 6px;
      border: 1px solid #e4e6eb;
      background: #fafafa;
      display: block;
      margin-bottom: 15px;
    }
    .event-details-wrapper {
      padding: 15px;
      border: 1px solid #ced0d4;
      border-radius: 6px;
      background: #fff;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .date-time-count {
        h4 {
          font-size: 16px;
          font-weight: 500;
          color: #050505;
          margin-bottom: 6px;
        }
        h5 {
          margin: 0;
          display: block;
          font-size: 14px;
          color: rgba(0, 7, 19, 0.6235294118);
          font-weight: 600;
          margin: 0 0 6px;
        }
      }

      .event-details {
        .img-box {
          position: relative;
          width: 130px;
          height: 80px;
          border-radius: 6px;
          overflow: hidden;

          img {
            object-fit: contain;
            height: auto;
          }
        }

        .content-wrap {
          width: calc(100% - 130px);
        }
        h5 {
          font-size: 16px;
          font-weight: 500;
          color: #050505;
          margin-bottom: 6px;
        }
      }
    }
  }
  .previous-wrapper {
    padding: 4px 15px 0 15px;
  }
}

.creator-event-form :global {
  .form-group {
    width: 100%;
  }
  .switch-box {
    width: 100%;
  }
  .schedule-wrapper {
    .form-group {
      margin-bottom: 0;
    }
  }
  .header-img-box {
    max-height: 150px;
    min-height: 150px;
  }
  .about-event {
    border-top: 1px solid #ced0d4;
    margin-top: 15px;
    padding-top: 15px;
  }
  .recurring-box {
    background: #f2f3f7;
    border-radius: 4px;

    .recurring-header {
      padding: 5px 20px 10px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      a {
        font-size: 15px;
        color: #1877f2;
        font-weight: 600;
      }

      &.form-group {
        margin-bottom: 0;
      }
    }
    .recurring-content {
      padding: 10px 20px 15px;

      .radio-group {
        display: flex;
        label {
          width: 30px;
          height: 30px;
          position: relative;
          &:not(:last-child) {
            margin-right: 12px;
          }
          div {
            background: #eaeaec;
            box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
            border-radius: 100%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: 0.2s;
          }

          input[type='checkbox'] {
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            cursor: pointer;
            z-index: 10;
          }

          input[type='checkbox']:checked + div {
            background: #0f2137;
            color: #fff;
          }
        }
      }
    }
  }
}

.creator-task-details-form :global {
  .ant-tag {
    text-transform: uppercase;
  }
  .ant-tag.pending-tag {
    border: 2px solid #ffe58f;
    background: #fffbe6;
    color: #d48806 !important;
  }
  .ant-tag.completed-tag {
    border: 2px solid #b7eb8f;
    background: #f6ffed;
    color: #389e0d !important;
  }
}

.creator-quizzes-page :global {
  .creator-quiz-card-wrapper {
    .content-wrapper {
      .card-heading {
        h4 {
          font-size: 16px;
          margin-bottom: 10px;
        }
        .questions-count {
          & > span {
            &:first-child {
              padding-right: 15px;
              border-right: 1px solid #e4e6eb;
            }
            &:last-child {
              padding-left: 15px;
            }
          }
        }
      }
      .action-btn {
        .ant-tag {
          display: flex;
          color: #0958d9 !important;
          align-items: center;
        }
      }
    }
  }
}
.quizzes-create-creator-page :global {
  .answers-write-box {
    width: 100%;

    .ant-card-body {
      overflow: hidden;
      padding: 0;

      textarea {
        border: 0;
        border-top: 1px solid #f0f0f0;
        border-radius: 0;
        padding: 15px;
      }
    }
  }
  .creator-quiz-card {
    margin-bottom: 16px;

    .header-wrapper {
      position: relative;
      .label-tag {
        position: absolute;
        left: -10px;
        top: 20px;

        .q-label {
          font-size: 14px;
          padding: 5px 10px;
          background: #f2f3f7;
        }
        .ant-tag {
          color: rgba(0, 0, 0, 0.88) !important;
        }
      }
      .question-box-wrapper {
        .heading-flex {
          margin-bottom: 16px;

          h2 {
            font-size: 16px;
            margin-bottom: 0;
          }
        }
      }
      .media-image-quiz .image-uploader .ant-upload.ant-upload-select {
        aspect-ratio: 1 / 2;
        max-height: 200px;
      }
      .actions-box-wrapper {
        margin-bottom: 20px;
        // .action-box {
        //   width: 40px;
        //   height: 40px;
        //   border-radius: 4px;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   border: 1px solid #ced0d4;
        //   cursor: pointer;
        // }
      }
    }

    .action-buttons {
      padding: 0 16px;
      .site-btn {
        height: 40px !important;
      }
    }

    .ant-list-item {
      border-bottom: 0;
    }
    .ant-card-body {
      padding: 16px;
    }
    .card-main-content {
      .create-questions-list-wrapper {
        .heading-wrapper {
          margin-bottom: 20px;
          h4 {
            margin-bottom: 5px;
            font-size: 16px;
          }
          p {
            margin: 0;
          }
        }
      }

      .q-list-wrap {
        li {
          &:not(:last-child) {
            margin-bottom: 16px;
          }
        }
        .question-box {
          & > span:first-child {
            margin-bottom: auto;
          }
          & > span:last-child {
            padding-left: 16px;
            width: 100%;
            margin-right: 0;
            padding-inline-end: 0;
          }
        }
      }
    }
  }
}
