:root {
  --primary-color: #f18926;
  --accent-color: hsl(29, 87.9%, 90%);
  --secondary-color: #0f2137;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 15px;
  font-family: var(--font-poppins);
  overflow: hidden;
}
.ant-radio-wrapper {
  display: flex !important;
  align-items: center;
}
.form-group {
  margin-bottom: 12px;
  label {
    display: block;
    line-height: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #424242;
    padding: 8px 0;
  }
}
.dark-variant-input {
  background: rgb(228, 230, 235);
  border: 0;
  & input {
    padding-left: 10px !important;
    background: transparent;
  }
}
h2.ant-typography.page-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
}
h2.ant-typography {
  font-weight: 700;
  margin: 0 0 15px 0;
  font-size: 28px;
  color: #1c2024;
}
h3.ant-typography {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
h4.ant-typography.sub-title {
  font-size: 18px;
  font-weight: 600;
  color: #212121;
  margin-bottom: 18px;
}
h4 {
  margin: 0;
}
h5.ant-typography {
  margin: 0;
}
p {
  font-size: 14px;
  color: rgba(0, 7, 19, 0.6235294118);
  font-weight: 400;
  margin-bottom: 20px;
}
.border-box {
  border: 1px solid #dedee3;
  border-radius: 6px;
  background-color: #fff;
  overflow: hidden;
  padding: 16px;
}
.gray-box {
  background: #fafafa;
}
.p-15 {
  padding: 15px;
}
.p-r-b-l-15 {
  padding: 0 15px 15px 15px;
}
.ant-tabs-nav {
  margin-bottom: 0 !important;
}
.ant-tabs-nav-list {
  margin-left: 15px;
}
.ant-breadcrumb-link {
  a {
    color: #65676b;
    &:hover {
      background: transparent;
    }
  }
}

.vertical-content {
  position: absolute;
  left: -10px;
  top: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  .vertical-text {
    display: inline-block;
    vertical-align: top;
    transform: translate(0, 100%) rotate(-90deg);
    transform-origin: 0 0;
    white-space: nowrap;
    font-size: 12px;
  }
}
.common-panel-wrapper {
  width: 100%;
  border: 1px solid #eaeaec;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 15px auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1019607843);
}

.table-main {
  .ant-table {
    border-radius: 0 !important;
    thead {
      tr {
        th {
          padding: 16px;
        }
      }
    }
  }
}
.ant-table {
  .ant-btn {
    margin-left: auto;
  }
  td {
    text-transform: capitalize;
  }
}

.ant-pagination {
  padding: 15px;
  margin: 0 !important;
}
.ant-pagination-prev,
.ant-pagination-next {
  background-color: rgba(0, 0, 0, 0.1);
  color: #4a4a59;
}

.card {
  background: #ffff;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  padding: 12px;

  .ant-card-head {
    padding: 0;
    min-height: auto;
    border-bottom: 0;

    .ant-card-head-title {
      margin-bottom: 4px;
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
      font-weight: 400;
    }
  }
  .ant-card-body {
    padding: 0;
  }
}
.certification-card {
  border: 1px solid #dedee3;
  padding: 0px;
  .ant-card-cover {
    img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }
  .ant-card-body {
    padding: 16px;
    p {
      margin-top: 5px;
    }
    h3 {
      margin: 0;
    }
  }
}
.events-card {
  border: 1px solid #dedee3;
  padding: 0px;

  .ant-card-cover {
    img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }

  .ant-card-body {
    padding: 16px;

    .date-time-info {
      display: flex;
      align-items: center;
      gap: 10px;
      & > div {
        display: flex;
        align-items: center;
        gap: 5px;
        &:first-child {
          padding-right: 10px;
          border-right: 1px solid rgba(0, 7, 19, 0.6235294118);
        }
        span {
          font-size: 12px;
          line-height: 12px;
          color: rgba(0, 7, 19, 0.6235294118);
          font-weight: 500;
        }
      }
    }
    h3.ant-typography {
      margin-top: 10px;
      margin-bottom: 0;
      color: #1c2024;
      font-weight: 500;
      font-size: 14px;
      white-space: wrap;
    }
    h5.ant-typography {
      font-weight: 400;
      font-size: 12px;
      color: #000;
    }
    a {
      font-size: 12px;
      margin-bottom: 15px;
      display: block;
    }
    .site-btn {
      padding: 6px 15px !important;
    }
  }
}

.table-no-data-design {
  padding: 48px 32px;
  .content-wrapper {
    width: 60%;
    margin: 0 auto;
    h4 {
      font-weight: 500;
      color: #424242;
      font-size: 1.125rem;
      margin: 15px 0 10px 0;
    }
    p {
      margin: 0;
      font-size: 0.875rem;
      color: #616161;
      font-weight: 500;
      line-height: 1.45;
      display: block;
      overflow-wrap: break-word;
    }
  }
}
