.habit-page :global {
  .list-calendar-wrapper {
    height: 790px;

    .border-box,
    .col {
      height: 100%;
      overflow-y: auto;
    }

    .habit-cards-wrapper {
      height: calc(100% - 32px);
      overflow-y: auto;
    }
  }
}

.task-page :global {
  .table-searching-functionality {
    .form-group {
      margin-bottom: 0;
    }
  }
}

.charity-page :global {
  .charity-table {
    .filter-wrapper {
      margin-bottom: 15px;
      .form-group {
        margin-bottom: 0;
      }
      .filter-by {
        display: flex;
        align-items: center;
        gap: 16px;
        & > div {
          width: 80%;
        }
      }
    }
  }
}

.quizzes-page :global {
  .select-quizzes-card-wrapper {
    .ant-card-head-title {
      color: #424242;
      font-weight: 500;
      font-size: 16px;
    }
    h5.ant-typography {
      margin-top: 10px;
      line-height: 14px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.45);
      margin-bottom: 20px;
    }

    .site-btn {
      width: 100%;
    }
    .review-btn {
      width: 100%;
      padding: 5px;
      word-break: break-all;
      white-space: wrap;
      background: var(--primary-color);
      font-weight: 500;
      font-size: 12px;
      color: var(--white-color);
      height: auto;
      .s-text {
        font-weight: 700;
      }
      a {
        text-decoration: underline;
        font-weight: 700;
      }
      &:hover {
        color: var(--white-color);
        a {
          color: var(--white-color);
        }
      }
    }
  }
}

.quiz-remark-box-wrapper :global {
  h2 {
    margin: 0 0 10px 0;
  }
  .quiz-remark-box {
    border-radius: 4px;
    background: #f3f3f3;
    border: 1px solid #d9d9d9;
    color: rgba(0, 0, 0, 0.88);
    padding: 10px;
    h3 {
      font-size: 14px;
    }
    h3,
    p {
      margin: 0;
    }
    p {
      font-size: 13px;
      margin-top: 6px;
    }
  }
}

.quizzes-confirmation-page :global {
  .quizzes-confirmation-card {
    .ant-card {
      .content-wrapper {
        max-width: 450px;
        margin: 0 auto;
      }
    }
  }
  .ant-card {
    max-height: 350px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    text-align: center;

    .ant-card-body {
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        color: #050505;
        margin-bottom: 8px;
      }
      p {
        margin: 0 0 30px 0;
      }
    }

    .quizzes-confirmation-card {
      width: 100%;
      height: 100%;
    }
  }
  .submitted-wrapper {
    .ant-card {
      min-height: auto;
      max-height: 100%;

      .ant-result {
        padding: 16px;
      }
    }
    .point-box-wrapper {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;

      .border-box {
        margin-bottom: 20px;
        h4 {
          font-weight: 500;
          span {
            font-weight: 600;
            font-size: 16px;
          }
        }
        .ant-tag {
          margin-right: 0;
        }
        & > div {
          &:first-child {
            margin-bottom: 20px;
          }
        }
      }
      .add-btn {
        .site-btn {
          width: 100%;
        }
      }
    }
  }
}

.quiz-questions-page :global {
  .quiz-questions-card {
    .ant-card {
      padding: 16px;
      .ant-card-cover {
        aspect-ratio: 16 / 9 auto;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
        img {
          height: 100%;
          object-fit: cover;
          aspect-ratio: 16 / 9 auto;
        }
      }
      .ant-card-body {
        padding: 16px 0 0 0;
      }
      .content-wrapper {
        .heading-content {
          margin-bottom: 15px;
          h4 {
            font-weight: 400;
            color: #656565;
            margin-bottom: 0;
          }
          h2 {
            margin: 0;
            font-size: 17px;
            font-weight: 600;
            color: #050505;
          }
        }

        .btns-wrapper {
          margin-top: 25px;
          .site-btn {
            width: 100%;
          }
        }
      }
    }
  }
}
.dashboard-page :global {
  .cards-wrapper {
    h5 {
      margin-bottom: 18px;
    }
  }
}

.quiz-answer-page :global {
  .quize-answer-main-table {
    table {
      tbody {
        vertical-align: top;
        h2 {
          font-size: 16px;
        }
      }
    }
  }
}
