.task-page :global {
  .task-count-wrapper {
    .card {
      h3 {
        font-weight: 600;
        font-size: 32px;
        color: #212121;
        margin-bottom: 0;
      }
    }
  }
}

.charity-page :global {
  .charity-table {
    .filter-wrapper {
      margin-bottom: 15px;
      .form-group {
        margin-bottom: 0;
      }
      .filter-by {
        display: flex;
        align-items: center;
        gap: 16px;
        & > div {
          width: 80%;
        }
      }
    }
  }
}

.quizzes-page :global {
  .select-quizzes-card-wrapper {
    .ant-card-head-title {
      color: #424242;
      font-weight: 500;
      font-size: 16px;
    }
    h5.ant-typography {
      margin-top: 10px;
      line-height: 14px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.45);
      margin-bottom: 20px;
    }
    .site-btn {
      width: 100%;
    }
  }
}
.quizzes-confirmation-page :global {
  .ant-card {
    max-height: 350px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    text-align: center;

    .ant-card-body {
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        color: #050505;
        margin-bottom: 8px;
      }
      p {
        margin: 0 0 30px 0;
      }
    }

    .quizzes-confirmation-card {
      width: 100%;
      height: 100%;
    }
  }
}

.quiz-questions-page :global {
  .quiz-questions-card {
    .ant-card {
      padding: 16px;
      .ant-card-cover {
        height: 350px;

        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .ant-card-body {
        padding: 16px 0 0 0;
      }
      .content-wrapper {
        .heading-content {
          h4 {
            font-weight: 400;
            color: #656565;
            margin-bottom: 8px;
          }
          h2 {
            margin: 0;
            font-size: 17px;
            font-weight: 600;
            color: #050505;
          }
        }
        .q-wrapper {
          & > li {
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 6px;
            &:not(:last-child) {
              margin-bottom: 15px;
            }
          }
          margin-top: 20px;
          .q-name-list {
            width: 100%;
            justify-content: space-between;
            flex-direction: row-reverse;

            &::after {
              display: none;
            }

            span {
              &:last-child {
                padding: 0;
                font-weight: 500;
              }
            }
          }
        }
        .btns-wrapper {
          margin-top: 25px;
          .site-btn {
            width: 100%;
          }
        }
      }
    }
  }
}

.charity-page :global {
  .complete-you-tasks-cards {
    .strike-check-box {
      .ant-checkbox-wrapper {
        & > span:first-child {
          align-self: flex-start;
          margin-top: 3px;
        }
        & > span:last-child {
          line-height: normal;
          vertical-align: baseline;
        }
      }
    }
  }
}

.habit-page :global {
  .complete-you-tasks-cards {
    .ant-card-extra {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
    h5 {
      margin: 10px 0 15px 0;
    }
  }
}
