.task-page :global {
  .table-searching-functionality {
    .form-group {
      margin-bottom: 0;
    }
  }
}

.charity-page :global {
  .charity-table {
    .filter-wrapper {
      margin-bottom: 15px;
      .form-group {
        margin-bottom: 0;
      }
      .filter-by {
        display: flex;
        align-items: center;
        gap: 16px;
        & > div {
          width: 80%;
        }
      }
    }
  }
}

.quizzes-page :global {
  .select-quizzes-card-wrapper {
    .ant-card-head-title {
      color: #424242;
      font-weight: 500;
      font-size: 16px;
    }
    h5.ant-typography {
      margin-top: 10px;
      line-height: 14px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.45);
      margin-bottom: 20px;
    }

    .site-btn {
      width: 100%;
    }
    .review-btn {
      width: 100%;
      padding: 15px;
      word-break: break-all;
      white-space: wrap;
      background: #f18926;
      font-weight: 500;
      font-size: 14px;
      color: #fff;
      height: auto;
      .s-text {
        font-weight: 700;
      }
      a {
        text-decoration: underline;
        font-weight: 700;
      }
      &:hover {
        color: #fff;
        a {
          color: #fff;
        }
      }
    }
  }
}
.question-box-wrapper :global {
  h2 {
    margin: 0 0 15px 0;
  }
  .q-wrapper {
    & > li {
      border: 1px solid #ddd;
      background: #fff;
      padding: 10px;
      border-radius: 6px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      &.right-question {
        border: 1px solid #ffa39e;
        background: #fff1f0;
        color: #cf1322;

        .ant-radio-checked {
          .ant-radio-inner {
            border-color: #cf1322;
            background: #cf1322;
          }
        }
      }
      &.wrong-answer {
        border: 1px solid #b7eb8f;
        background: #f6ffed;
        color: #52c41a;
        .ant-radio-checked {
          .ant-radio-inner {
            border-color: #b7eb8f;
            background: #b7eb8f;
          }
        }
      }
    }
    margin-top: 20px;
    .q-name-list {
      width: 100%;
      justify-content: space-between;
      flex-direction: row-reverse;

      &::after {
        display: none;
      }

      span {
        &:last-child {
          padding: 0;
          font-weight: 500;
        }
      }
    }
  }
}
.quiz-remark-box-wrapper :global {
  h2 {
    margin: 0 0 15px 0;
  }
  .quiz-remark-box {
    border-radius: 8px;
    background: #f3f3f3;
    border: 1px solid #d9d9d9;
    color: rgba(0, 0, 0, 0.88);
    padding: 16px;
    h3,
    p {
      margin: 0;
    }
    p {
      margin-top: 6px;
    }
  }
}

.quizzes-confirmation-page :global {
  .ant-card {
    max-height: 350px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    text-align: center;

    .ant-card-body {
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        color: #050505;
        margin-bottom: 8px;
      }
      p {
        margin: 0 0 30px 0;
      }
      .point-box-wrapper {
        width: 100%;
        max-width: 350px;
        margin: 0 auto 30px auto;
        h4 {
          font-weight: 500;
          span {
            font-weight: 600;
            font-size: 16px;
          }
        }
        & > div {
          &:first-child {
            margin-bottom: 20px;
          }
        }
      }
    }

    .quizzes-confirmation-card {
      width: 100%;
      height: 100%;
    }
  }
  .submitted-wrapper {
    .ant-card {
      min-height: auto;
      max-height: 100%;

      .ant-result {
        padding: 16px;
      }
    }
  }
}

.quiz-questions-page :global {
  .quiz-questions-card {
    .ant-card {
      padding: 16px;
      .ant-card-cover {
        aspect-ratio: 16 / 9 auto;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
        img {
          height: 100%;
          object-fit: cover;
          aspect-ratio: 16 / 9 auto;
        }
      }
      .ant-card-body {
        padding: 16px 0 0 0;
      }
      .content-wrapper {
        .heading-content {
          margin-bottom: 15px;
          h4 {
            font-weight: 400;
            color: #656565;
            margin-bottom: 0;
          }
          h2 {
            margin: 0;
            font-size: 17px;
            font-weight: 600;
            color: #050505;
          }
        }

        .btns-wrapper {
          margin-top: 25px;
          .site-btn {
            width: 100%;
          }
        }
      }
    }
  }
}
.dashboard-page :global {
  .cards-wrapper {
    h5 {
      margin-bottom: 18px;
    }
  }
}

.quiz-answer-page :global {
  .quize-answer-main-table {
    table {
      tbody {
        vertical-align: top;
        h2 {
          font-size: 16px;
        }
      }
    }
  }
}
